<div class="wrapper wrapper_padding clearfix">
		<div class="col-1 about homepage_content">
			<h2>About</h2>
			<hr>
			<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. На берегу великий маленькая, сбить жизни.</p>
			<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут <a href="#">рыбные тексты</a>. На берегу великий маленькая, сбить жизни.</p>
			<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. На берегу великий маленькая, сбить жизни.</p>
		</div>
		<div class="col-2 homepage_content">
			<h2>Articles</h2>
			<hr>

			<% @posts.each do |post| %>
				<h3><a href="#"><%= link_to post.title, post %></a></h3>
				<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
			<% end %>
		</div>
		<div class="col-3 homepage_content">
			<h2>Projects</h2>
			<hr>
			
			<h3><a href="#">Далеко-далеко за словесными горами в стране.</a></h3>
			<p class="date">Пятница,30.09.2015</p>
			<h3><a href="#">Маленькая реторический, скатился бросил о.</a></h3>
			<p class="date">Пятница,30.09.2015</p>
			<h3><a href="#">Инициал своего, всемогущая семь большого.</a></h3>
			<p class="date">Пятница,30.09.2015</p>
			<h3><a href="#">Лучше языком, строчка переписывается страна.</a></h3>
			<p class="date">Пятница,30.09.2015</p>
		</div>
	</div>
